<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body{
            background-image:url('https://www.redsharknews.com/hubfs/Imported_Blog_Media/9f22e42c1bd9b7fb6229b699ab379a97-1.jpg');
            background-size: cover;
        
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    {% include 'nav.html'%}
    <br>
    <div>{% block content %}
        {% endblock %}
    </div>
</body>
</html>